---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&To=abcdefg&From=9718035899
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM1NTc4OTg5OWI4NTI1ZTdlNGI2YmU5Yjg2OGYyYjY5YzpmOTEwN2VmZjBkZTlhN2Y5ZjU1Yjg3NGNiNzQ5ZTUzYw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.094'
      Twilio-Request-Id:
      - RQc3e6e79781214c9fb6db740d1a92cb01
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number abcdefg is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 27 Feb 2017 23:19:41 GMT
recorded_with: VCR 3.0.3
